<!-- <p> Parent component </p> -->

<!-- we have used the data as the input property of child componemt and we have access it in parent component
<button (click)="counter()"  >counter</button>  we have call this property from child componets-->
<!-- <app-child-componemt [data]="count" [child]="obj"></app-child-componemt> -->

<!--<app-databinding></app-databinding> -->

<!-- <app-template-forms></app-template-forms> -->
<!-- <app-reactive-forms></app-reactive-forms> -->

<!-- <app-employee></app-employee> -->

<router-outlet></router-outlet>