<div class="login">
    <div class="container">
    <div class="header">
      <h1><span class="l">L</span>OGIN</h1>
    </div>
    <form>
      <label for="agentId">Username</label>
      <input [(ngModel)]="userObj.agentId" type="text" class="inp"  name="agentId" required>


      <label class="form-label">  New Password</label>
      <input [(ngModel)]="userObj.newPassword" class="form-control" type="password"  class="inp" name="newPassword" required>

      <label class="form-label"> Confirm Password</label>
      <input [(ngModel)]="userObj.newConfirmPassword" class="form-control" type="password"  class="inp" name="newConfirmPassword" required>
      <button type="button" (click)="onLogin()">Submit </button>
    </form>
   
  </div>
</div>