<div class="login">
    <div class="container">
    <div class="header">
      <h1><span class="l">F</span>ORGOT PASSWORD</h1>
    </div>
    <form>
      <label for="email">Username</label>
      <input [(ngModel)]="userObj.email" type="text" class="inp"  name="email" required>

      <label class="form-label">Password</label>
      <input [(ngModel)]="userObj.newPassword" class="form-control" type="password"  class="inp" name="newPassword" required>

      <label class="form-label">Password</label>
      <input [(ngModel)]="userObj.newConfirmPassword" class="form-control" type="password"  class="inp" name="newConfirmPassword" required>
      <button type="button" (click)="onLogin()">Submit </button>
    </form>
    
    <div class="signup">
        <b>Go To Login</b>
        <a  routerLink="/login">Sign In</a>
      </div>
  </div>
</div>