@model GetDataViewModel

<form method="post" asp-controller="Modelbinding" asp-action="GetData">
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Age"></label>
        <input class="form-control" asp-for="Age">
        <span asp-validation-for="Age" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email">
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="mb-3">
        <label class="form-label" asp-for="PhoneNumber"></label>
        <input class="form-control" asp-for="PhoneNumber">
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <input  type="submit" class="btn btn-outline-primary" value="Submit Data " />

    <div asp-validation-summary="All" class="text-danger">
    </div>

</form>