<h1> This is Test 4 page </h1>
<h1> My Name is with view Data  @ViewData["Name"]</h1>
<h1> My Occupation is with view Data  @ViewData["Occupation"]</h1>
<h1> My Skills is with View Bag @ViewBag.Skills</h1>
<h1>
    Role is = @TempData.Peek("Role")
</h1>